:root {
    --main-color:white;
    --text-color:rgb(19, 159, 214);
    --fondo-color:rgb(88, 87, 87);
}


body {
    padding: 0;
    background-color: var(--fondo-color);
}


.logo-ap {
    margin-top: 10px;
}


.navbar-text {
    font-size: 15px;
}

.nav-item {
    width: 50px;
    padding: 0 7px;
}



.sobre-mi {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);    
    height: 70vh;
    color: var(--text-color);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-style: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
} 

.sobre-mi a {
    text-decoration: none;
    color: var(--text-color);
}

.sobre-mi2 {
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(assets/foto4.jpg);
    height: 70vh;
    background-size: cover;
    box-sizing: border-box;
    color: var(--text-color);
    text-align: center;
} 


.col-sm-4  a {
    text-decoration: none;
    color: var(--text-color);
}

.col-sm-8 {
    background-image: url(assets/foto4.jpg);
    height: 70vh;
    background-size: cover;
    box-sizing: border-box;
    color: var(--text-color);
    text-align: center;
}

.mt-5{
    margin-top: 30%;
}

.estudios {
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: url(assets/estudio3.jpg);
    height: 70vh;
    background-size: cover;
    box-sizing: border-box;
    color: var(--text-color);
    text-align: center;
}


.estudios2 {
    font-size:15px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.estudios2 ul {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.estudios2 ul li {
    padding-top: 20px;
    padding-bottom: 10px;
}


.skills {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid black;
}